@media only screen and (min-width: 767px) {
    
    .menu {
        width: 400px;
    }
    
    .menu {
        -webkit-transform: translateX(-400px);
        transform: translateX(-400px);
        top: 90px;
    }

    .menu-active {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        
    }
    
    header h1 {
    padding-left: 0;
    }
    
}
