/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    font: 100% arial, verdana, tahoma, sans-serif;
    color: #FFF;
    background-color: #f1c40f;
}

/* HEADER */

header {
    background: #f49c14;
    padding: 30px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 80%;
    font-size: 1.5em;
}

header input {
    float: right;
    padding: 10px;
    width: 200px;
    border: none;
}

.menu-anchor {
    width: 40px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    background: #FFF;
}

.menu-anchor:before {
    content: "";
    display: block;
    margin: 7px auto;
    width: 70%;
    height: 0.25em;
    background: #f49c14;
    box-shadow: 0 .45em 0 0 #f49c14, 0 .9em 0 0 #f49c14;
}

.menu-anchor:hover {
    background: #d55401;
}

/* MENU */

menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-top: 10px;
    background: #d55401;
    box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
}

menu {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    -webkit-transition: -webkit-transform .25s linear;
    transition: -webkit-transform .25s linear;
    transition: transform .25s linear;
    transition: transform .25s linear, -webkit-transform .25s linear;
}

.menu-active{
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/* MAIN */

.main{
    height: 100%;
}

#map{
    height: 100%;
}