/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    font: 100% arial, verdana, tahoma, sans-serif;
    color: #000;
    background-color: #f1c40f;
}

/* HEADER */

header {
    background: #f49c14;
    padding: 30px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding-left: 50px;
    font-size: 1.5em;
}


h2 {
    padding-top: 100px;
}

.menu-anchor {
    width: 40px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    cursor: pointer;
    background: #FFF;
}

.menu-anchor:before {
    content: "";
    display: block;
    margin: 7px auto;
    width: 70%;
    height: 0.25em;
    background: #f49c14;
    box-shadow: 0 .45em 0 0 #f49c14, 0 .9em 0 0 #f49c14;
}

.menu-anchor:hover {
    background: #d55401;
}

/* MENU */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 30px;
    background: #d55401;
    box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
}

.menu {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    -webkit-transition: -webkit-transform .25s linear;
    transition: -webkit-transform .25s linear;
    transition: transform .25s linear;
    transition: transform .25s linear, -webkit-transform .25s linear;
}

.menu-active{
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.search-box {
     	border: 1px solid #d1d1d1;
    	font: bold 12px Arial,Helvetica,Sans-serif;
    	color: white;
    	width: 300px;
    	padding: 6px 15px 6px 35px;
    	border-radius: 20px;
    	background-image: url('../img/search-white.png');
	    background-position: 10px 6px;
	    background-repeat: no-repeat;
	    background-color: #4c525f;
        margin: 30px 15px;
     }

/* MAIN */

.main{
    height: 100%;
}

#map{
    height: 100%;
}

/* -----------------------------------*/

